<div class="main">
          <form class="form">
            <div class="row">
              <div class="col-xs-8 col-sm-10 text-left">
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Type keyword to search">

                <!-- search hint -->
                <p class="help-block text-left"><a href="#">keyword</a> shows up when typping..</p>

              </div>
              <div class="col-xs-4 col-sm-2">
                <button id="search-btn" type="submit" class="btn btn-primary">Search</button>
              </div>
            </div>
            <!-- search bar -->
          </form>

          <!-- search result as in list of links  -->
          <div class="link well well-sm">
            <p><a href="">power supply monitor system</a></p>
            <p><span class="label label-info">Power Supply</span> <span class="label label-info">Germany</span></p>
            <p class="text-muted">Description.....</p>

            <!-- admin only -->
            <div class="text-right">
              <a class="btn btn-primary btn-sm" href="./link-edit.html">edit</a> <button type="button" class="btn btn-danger btn-sm">delete</button>
            </div>
          </div>

          <div class="link well well-sm">
            <p><a href="">power supply monitor system</a></p>
            <p><span class="label label-info">Power Supply</span> <span class="label label-info">Germany</span></p>
            <p class="text-muted">Description.....</p>

            <!-- admin only -->
            <div class="text-right">
              <a class="btn btn-primary btn-sm" href="./link-edit.html">edit</a> <button type="button" class="btn btn-danger btn-sm">delete</button>
            </div>
          </div>

          <div class="link well well-sm">
            <p><a href="">power supply monitor system</a></p>
            <p><span class="label label-info">Power Supply</span> <span class="label label-info">Germany</span></p>
            <p class="text-muted">Description.....</p>

            <!-- admin only -->
            <div class="text-right">
              <a class="btn btn-primary btn-sm" href="./link-edit.html">edit</a> <button type="button" class="btn btn-danger btn-sm">delete</button>
            </div>
          </div>

          <div class="link well well-sm">
            <p><a href="">power supply monitor system</a></p>
            <p><span class="label label-info">Power Supply</span> <span class="label label-info">Germany</span></p>
            <p class="text-muted">Description.....</p>

            <!-- admin only -->
            <div class="text-right">
              <a class="btn btn-primary btn-sm" href="./link-edit.html">edit</a> <button type="button" class="btn btn-danger btn-sm">delete</button>
            </div>
          </div>

      </div>