.site-logo {
    display: block;
    float: left;
    width: 262px;
    text-align: center;
    border-right: 1px solid #eef2f5;
    border-left: 1px solid #eef2f5;
    line-height: 40px;
    height: 40px;
}
.site-logo>svg {
    width: 185px;
}

body {
  padding-top: 50px;
}

.main {
  padding: 40px 15px;
}

#search-btn{
  /*width: 120px;*/
}
